name: generate_docs

# We now default to running this workflow on every push to every branch.
# This provides fast feedback when build issues occur, so they can be
# fixed prior to being merged to the main branch.
#
# If you want to opt out of this, and only run the build on certain branches
# please refer to the documentation on branch filtering here:
#
#   https://docs.github.com/ez vaultn/actions/using-workflows/workflow-syntax-for-github-actions#onpushbranchestagsbranches-ignoretags-ignore
#
on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  PKG_NAME: "vault-benchmark"
  METADATA: ""

jobs:
  generate-docs:
    name: "Generate Docs"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Generate index markdown file
        run:  ./.github/scripts/generate-index-markdown.sh
      - name: Commit and push changes
        run: |
          git config --global user.email "github-team-secret-vault-core@hashicorp.com"
          git config --global user.name "hc-github-team-secret-vault-core"

          git add docs/index.md
          git commit -m "Update index.md file"
          git push origin main
